:root{
    --accent:#c90000;
    --accent-muted:#c9000051;
    --background-body:#e6e6e6;
    --text-main:#1a1a1a;
    --text-bright:#000;
    --text-muted:#c90000b3;
    --links: #0076d1;
    --animation-duration: 0.1s;
    --background: #dfdfdf;
    --border: #d5d5d5;
    --code-background: #d9d9d9;
    --copyright-text: #00000077;
    --code-block-text: #5c6b6b;
    --scrollbar-thumb: var(--border);
    --scrollbar-thumb-hover: #cacaca;
    --selection: #9e9e9e;
}

@media (prefers-color-scheme: dark) {
:root{
    --accent:#bc002d;
    --accent-muted:#bc002d51;
    --background-body:#1a1a1a;
    --text-main:#e6e6e6;
    --text-bright:#fff;
    --text-muted:#bc002db3;
    --links:#41adff;
    --animation-duration: 0.1s;
    --background: #212121;
    --border: #2a2a2a;
    --code-background: #272727;
    --copyright-text: #ffffff77;
    --code-block-text: #a39494;
    --scrollbar-thumb: var(--border);
    --scrollbar-thumb-hover: #303030;
    --selection: #9e9e9e;
}
}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit
}
body {
    margin:20px auto;
    padding:0 40px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height:1.6;

    background-color:var(--background-body);
    color:var(--text-main);

    max-width:800px;
    min-height:100vh;

    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -webkit-font-feature-settings:"liga","tnum","case","calt","zero","ss01","locl","calt";
    font-feature-settings:"liga","tnum","case","calt","zero","ss01","locl","calt";
    -webkit-font-variant-ligatures:contextual;
    font-variant-ligatures:contextual;

    -webkit-overflow-scrolling:touch;
    -webkit-text-size-adjust:100%
}

h1 {
    font-size: 2.2em;
    margin-top: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    color: var(--text-bright);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  th {
    font-weight: 600;
  }

  blockquote, q {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 4px solid var(--accent);
    margin: 1.5em 0em;
    padding: 0.5em 1em;
    font-style: italic;
  }
  
  blockquote > footer {
    font-style: normal;
    border: 0;
  }
  
  blockquote cite {
    font-style: normal;
  }

a{
    text-decoration: none;
    color:inherit;
}
img{
    height:auto;
    display:block;
    max-width:100%
}
img.center,img.left{
    margin-right:auto
}
img.center,img.right{
    margin-left:auto
}
p{
    margin-bottom:20px
}
figure{
    display:table;
    max-width:100%;
    margin:25px 0
}
figure.center,figure.left{
    margin-right:auto
}
figure.center,figure.right{
    margin-left:auto
}
figure figcaption{
    font-size:14px;
    padding:5px 10px;
    margin-top:5px;
    background:var(--accent);
    color:var(--background)
}
figure figcaption.left{
    text-align:left
}
figure figcaption.center{
    text-align:center
}
figure figcaption.right{
    text-align:right
}
samp, time {
    background:  var(--background);
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
  }
code{
    font-family:Monaco,Consolas,Ubuntu Mono,monospace;
    -webkit-font-feature-settings:normal;
    font-feature-settings:normal;
    background:var(--accent-muted);
    color:var(--accent);
    border-radius: 3px;
    padding:1px 4px;
    margin:0 2px
}
code,pre{
    font-size:.95rem
}
pre{
    background:var(--background);
    padding:10px 10px;
    margin:40px 0;
    overflow:auto;
    border-radius: 6px;
}
pre+pre{
    border-top:0;
    margin-top:-40px
}
@media (max-width:683px){
    pre{
        white-space:pre-wrap;
        word-wrap:break-word
    }
}
pre code{
    background:none!important;
    margin:0;
    padding:0;
    font-size:inherit;
    color:var(--code-block-text);
    border:none
}

td,
th {
  padding: 10px;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background);
}

table{
    table-layout:fixed;
    border-collapse:collapse;
    width:100%;
    margin:40px 0
}
th{
    color:var(--accent);
}
ol,ul{
    margin-left:30px;
    padding:0
}
ol li,ul li{
    position:relative
}
@media (max-width:683px){
    ol,ul{
        margin-left:20px
    }
}
ol ol{
    list-style-type:lower-alpha
}
.content{
    display:flex
}
hr{
    width:100%;
    border:none;
    border-top:1px solid var(--border);
}
.hidden{
    display:none
}
.float-right{
    float:right
}
.float-left{
    float:left
}
.header{
    height: 4rem;
    display:block;
    position:relative;
    margin-bottom: 1rem;
}
.header.wrap {
    text-align: justify;
    font-size: 1px;
}
  
.header.wrap::after {
    display: inline-block;
    content: "";
    width: 100%;
}
.logo:hover {
    opacity: 0.5;
}
.logo {
    transition: opacity var(--animation-duration) linear;
}
.header a, .header .menu-button, .button a {
    transition: background-color var(--animation-duration) linear;
}
.header.logo {
    height: 42px;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 8px;
}

.header .logo{
    letter-spacing:.1rem;
    display:inline-block;
    align-items:center;
    text-decoration:none;
    background:var(--accent);
    color:var(--text-main);
    padding:2px 10px;
    font-size: 32px;
    font-weight: 800;
    border-radius: 5px;
    text-align: justify;
}

.header a,.header span{
    display:inline;
    font-size:20px;
    font-weight:700;
    text-decoration: none;
    line-height:3rem;
    color:var(--text-main);
    border-radius:3px;
    padding-left: 4px;
    padding-right: 4px;
}
.header a:hover,.header a:focus{
    background-color: var(--accent);
}
.header .navigation-list{
    padding:0;
    float:right;
    list-style:none;
    margin-bottom:2px;
    margin-top:2px;
}
@media only screen and (max-width:768px){
    .header .navigation-list{
        position:absolute;
        top:50px;
        right:0;
        z-index:5;
        visibility:hidden;
        opacity:0;
        padding:0;
        max-height:0;
        width:100%;
        background-color:var(--background);
        border-top:solid 2px var(--border);
        border-bottom:solid 2px var(--border);
        transition:opacity .25s,max-height .15s linear
    }
}
.header .navigation-list .navigation-item{
    float:left;
    margin:0;
    position:relative
}
@media only screen and (max-width:768px){
    .header .navigation-list .navigation-item{
        float:none!important;
        text-align:center
    }
    .header .navigation-list .navigation-item a,.header .navigation-list .navigation-item span{
        line-height:4rem
    }
}
.header .navigation-list .navigation-item a,.header .navigation-list .navigation-item span{
    margin-left:10px;
    margin-right:10px
}
@media only screen and (max-width:768px){
    .header .navigation-list .menu-separator{
        border-top:2px solid var(--text-main);
        margin:0 8rem
    }
    .header .navigation-list .menu-separator span{
        display:none
    }
}
.header #menu-toggle{
    display:none
}
@media only screen and (max-width:768px){
    .header #menu-toggle:checked+label{
        background-color: var(--accent);
    }
    .header #menu-toggle:checked+label+ul{
        visibility:visible;
        opacity:1;
        max-height:100rem
    }
}
.header .menu-button{
    display:none
}
@media only screen and (max-width:768px){
    .header .menu-button{
        display:block;
        font-size:2rem;
        font-weight:400;
        line-height:3rem;
        color:var(--text-main);
        cursor:pointer;
        padding: 2px 10px;
        border-radius: 5px;
    }
    .header .menu-button:hover,.header .menu-button:focus{
        background-color: var(--accent);
    }
}
.about {
    text-align:center;
    width: 100%;
    margin-left: 0;
}
.about ul.social-list{
    margin-left: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}
.about ul.social-list li{
    display: inline-block;
    font-weight: 400;
    letter-spacing: 1em;
    text-transform: uppercase;
}
.about ul.social-list a:hover{
    color: var(--accent);
}
.about ul.social-list a {
    transition: color var(--animation-duration) linear;
}
.about h1.name{
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.about h2.info{
    margin: 0;
}
.about h4{
    padding-top: 24px;
}
.pagination{
    margin-top:50px
}
.pagination-title{
    display:flex;
    text-align:center;
    position:relative;
    margin:100px 0 20px
}
.pagination-title-h{
    text-align:center;
    margin:0 auto;
    padding:5px 10px;
    background:var(--background-body);
    font-size:.8rem;
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:.1em;
    z-index:1
}
.pagination-title hr{
    position:absolute;
    left:0;
    right:0;
    width:100%;
    margin-top:15px;
    z-index:0
}
.pagination-buttons{
    display:flex;
    align-items:center;
    justify-content:center;
}
.pagination-buttons a{
    text-decoration:none
}
.button{
    position:relative;
    display:inline-flex;
    flex:1;
    align-items:center;
    justify-content:center;
    font-size:1rem;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    overflow:hidden
}
.button+.button{
    margin-left:10px
}
.button a{
    display:flex;
    text-decoration:none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--background);
}
.button a:hover{
    background-color: var(--border);
}
.button-text,.button a{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.button.next .button-icon{
    margin-left:8px
}
.button.previous .button-icon{
    margin-right:8px
}
.post,.posts{
    width:100%
}
.post{
    text-align:left;
    margin:20px auto;
    padding:20px 0
}
.post:not(:last-of-type){
    border-bottom:1px solid var(--border);
}
.post-meta{
    font-size:1rem;
    margin-bottom:10px;
    color:var(--text-muted)
}
.post-title{
    position:relative;
    color:var(--accent);
    margin:0 0 15px;
    padding-bottom:15px;
    border-bottom:1px solid var(--accent)
}
.post-title a{
    text-decoration:none
}
.post-tags{
    display:block;
    margin-bottom:20px;
    font-size:1rem;
    opacity:.5
}
.post-tags a{
    text-decoration:none
}
.post-content{
    margin-top:30px
}
.post-content h1{
    margin-top: 2rem;
}
.post-content a{
    color:var(--links)
}
.post-content a:hover {
    text-decoration: underline;
}
.post-cover{
    border:1px solid var(--accent);
    background:transparent;
    margin:40px 0
}
.post ul{
    list-style:none
}
.post ul li:before{
    content:"\25BA";
    position:absolute;
    left:-20px;
    color:var(--accent);
}
.post ul ol li:before{
    content:"";
}
.read-more {
    display: inline-flex;
    margin-top: 10px;
    text-decoration: underline;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection {
  background-color: var(--selection);
}

::selection {
  background-color: var(--selection);
}

footer {
  font-size: 0.8em;
  color: var(--copyright-text);
}
