<nav class="menu">
  <input type="checkbox" id="menu-toggle" />
  <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
  <ul class="nav-list">
    {{ range sort .Site.Menus.main "identifier" }}
      <li class="nav-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    {{ if .Site.IsMultiLingual }}
      {{ $node := . }}
      {{ .Scratch.Set "separator" true }}
      {{ range .Site.Home.AllTranslations }}
        {{ if ne $.Site.Language .Language }}
          {{ if $node.Scratch.Get "separator" }}
            <li class="nav-item menu-separator">
              <span>|</span>
            </li>
            {{ $node.Scratch.Set "separator" false }}
          {{ end }}
          <li class="nav-item">
            <!-- TODO fix redirect for current page -->
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
